html,
body {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.header .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu-item a {
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

.menu-icon {
  width: 40px;
  height: 40px;
  margin-top: 0.5rem;
}

.header {
  background: url(../images/bg-header.png);
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.logo-imgae img {
  width: auto;
  height: auto;
}

.header .menu-item p {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.menu-link:hover {
  background-color: #0000006b;
}

.menu-link-imgae:hover {
  background-color: transparent;
}

.banner {
  margin-top: -8.5rem;
  position: relative;
}

.content {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-position: top;
}
.container-content {
  background: repeating-linear-gradient(
    45deg,
    #25a8de,
    #617fe0 10px,
    #fbf288 10px,
    #4a73d2 20px
  );
  padding: 1.5rem;
}

.box {
  background-color: #ffffff;
  padding: 4rem;
}

.box p {
  line-height: 2.8rem;
  font-size: 1.8rem;
}

.box-table {
  margin-top: 2rem;
  line-height: 2.8rem;
  font-size: 1.4rem;
  /* overflow-x: auto; */
}

.box-table .table {
  background-color: #ffffff;
}

.content .box p {
  margin-top: 1rem;
}

.footer {
  background-color: rgb(31, 31, 31);
}

.footer-container {
  padding: 3rem;
}

.footer img {
}

.footer p {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 3rem;
}

table.table-bordered {
  border: 1px solid #fff;
  margin-top: 20px;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #fff;
}
table.table-bordered > tbody > tr > td {
  border: 1px solid #fff;
}

table > tbody > tr > th {
  border: 1px solid #fff;
  font-weight: 600;
  color: #fff;
}

table > tbody > tr:hover {
  background-color: rgba(255, 255, 255, 0.178);
}

table > tbody {
  background-color: #25a8de;
}

table > thead > tr {
  font-size: 1.6rem;
  font-weight: 600;
}

table > tbody > tr > td {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}

.desktop-hidden {
  display: none;
}

.search {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.input-search input:focus,
.input-search input:active {
  border: none;
  outline: none;
}

.input-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  transform: translateY(-35%);
}

.input-search input {
  width: 346px;
  height: 72px;
  border-radius: 36px;
  border: none;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
}

.input-search button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin-left: 20px;
  margin-right: 14px;
  background-color: transparent;
}

.gif {
  width: 20rem;
  height: 60rem;
  background-color: #f00;
  position: fixed;
  z-index: 1212;
  top: calc(50%);
  transform: translateY(calc(-50%));
  transition: all 0.5s ease-in-out;
  /* background: rgb(255, 255, 255); */
  /* border: 1px solid #000; */
  /* display: none; */
}

.gif span {
  cursor: pointer;
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  position: absolute;
  background-color: #ffffff69;
  font-weight: bold;
  font-size: 1rem;
}

.gif-left {
  left: 4rem;
  background: url(../images/gif-left.gif);
}

.gif-right {
  right: 4rem;
  background: url(../images/gif-right.gif);
}

@media screen and (max-width: 1279.98px) {
  .input-search input {
    width: 280px;
    height: 60px;
  }

  .input-search button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1023.98px) {
  .mobile-hidden {
    display: none !important;
  }

  .menu-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .box {
    padding: 2rem;
  }

  .content {
    padding: 0;
  }

  .menu-mobile .menu {
    background: url(../images/bg-header.png);
    background-repeat: no-repeat;
  }

  .menu-mobile .menu-item a {
    font-size: 1.6rem;
    color: #fff;
  }

  .menu-mobile .menu-item {
    width: 25%;
  }

  .menu-mobile .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile .menu-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .banner {
    margin-top: 0;
  }

  .footer {
    margin-bottom: 60px;
  }

  .input-search input {
    width: 185px;
    height: 44px;
    font-size: 1.4rem;
  }

  .input-search button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  table > tbody > tr > td {
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
  }

  table > tbody > tr > td {
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
  }

  table > thead > tr {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .gif {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .input-search input {
    width: 115px;
    height: 26px;
    font-size: 0.8rem;
  }

  .input-search button {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    margin-right: 0;
  }

  .menu-mobile .menu-item a {
    font-size: 1.4rem;
  }

  .box {
    padding: 1rem;
  }

  .box-table {
    font-size: 0.8rem;
    overflow-x: clip;
  }

  .box p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 414px) {
  .input-search input {
    width: 100px;
    height: 22px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .input-search input {
    width: 98px;
    height: 22px;
    font-size: 0.8rem;
  }

  .input-search button {
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 374.98px) {
  .input-search input {
    width: 110px;
  }
}

@media screen and (max-width: 320px) {
  .input-search input {
    width: 95px;
    height: 23px;
    margin-right: 14px;
  }

  .input-search button {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 0;
  }
}
